{% extends "layout.html.twig" %}
{% set practitionerMenu = true %}

{% block title %}{{ visitor.username }} {% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    <div class="well">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-5 control-label">Nom </label>
                <div class="col-sm-4">
                    <input name="last_name" type="text" class="form-control" value="{{ visitor.last_name }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Prénom </label>
                <div class="col-sm-2">
                    <input name="first_name" type="text" class="form-control" value="{{ visitor.first_name }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Adresse </label>
                <div class="col-sm-5">
                    <input name="address" type="text" class="form-control" value="{{ visitor.address }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Ville </label>
                <div class="col-sm-3">
                    <input name="city" type="text" class="form-control" value="{{ visitor.city }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Code Postal</label>
                <div class="col-sm-2">
                    <input name="zip_code" type="text" class="form-control" value="{{ visitor.zip_code }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Nom d'utilisateur </label>
                <div class="col-sm-3">
                    <input name="username" type="text" class="form-control" value="{{ visitor.username }}"</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Mot de passe </label>
                <div class="col-sm-2">
                    <input name="password" type="text" class="form-control" </p>
                </div>
            </div><br>
            <div >
                <button  type="submit" id="visitor_save" name="visitor[save]" class="btn btn-primary">Mettre à jour</button>
            </div>
    </div>
</form>
</div>
{% endblock %}